/*Выпадающее меню*/
.sub-menu
{
   display: none; /*Прячем наше меню по умолчанию*/
   margin-top: 10px;
}
.sub-menu li {   /*Придаем стили нашим выпадающим пунктам меню.*/
	position: relative;
   list-style: none;
	height: 40px;
	border: 5px solid #838383;
	border-radius: 10px;
    -moz-box-shadow: 0 0 59px rgba(255, 2, 2, 0.5);
    -webkit-box-shadow: 0 0 59px rgba(255, 2, 2, 0.5);
	box-shadow: 0 0 59px rgba(255, 2, 2, 0.5);
	text-align: center;
	text-transform: uppercase;
	background: url(bg_sprite.jpg) repeat-x center top transparent;
	z-index: 10000;
	margin-top: 1px;
 
}
/*Важнейшая часть кода. При щелчке по меню, а также при активном пункте меню мы меняем display: none, на block, что позволяет нам увидеть наше меню*/
.main-item:focus ~ .sub-menu,
.main-item:active ~ .sub-menu,
.sub-menu:hover
{
   display: block;
}
/*Конец выпадающего меню*/